.checkbox {
  height: fit-content;
  padding-top: 20px;
  padding-bottom: 5px;
  width: 32%;
  background-color: #ffffff;
  border-radius: 2%;
  box-shadow: 0px 2px 8px 0px #0000001a;

  @media screen and (max-width: 980px) {
    margin-bottom: 20px;
  }

  @media screen and (max-width: 680px) {
    width: 50%;
  }

  &__heading {
    margin: 0 0 5px 20px;
    text-transform: uppercase;
    font-size: 15px;

    @media screen and (max-width: 980px) {
      font-size: 12px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  label {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    max-width: 100%;
    background-color: #fff;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;

    input {
      border: none;
      appearance: none;
      margin-right: 10px;
      width: 20px;
      height: 20px;
      background: url('./check.png') center/cover no-repeat;
      cursor: pointer;

      &:checked {
        background: url('./check-active.png') center/cover no-repeat;
      }
    }

    &:hover {
      background-color: #f1fcff;
    }
  }
}
